export("%>%")
export(check_opts)
export(clusterKmeans)
export(formatColoured)
export(formatNum)
export(freqs)
export(glued)
export(lares_pal)
export(missingness)
export(noPlot)
export(normalize)
export(num_abbr)
export(ohse)
export(plot_palette)
export(removenacols)
export(right)
export(scale_x_abbr)
export(scale_x_percent)
export(scale_y_abbr)
export(scale_y_percent)
export(statusbar)
export(theme_lares)
export(try_require)
export(v2t)
export(winsorize)
export(zerovar)
importFrom(magrittr,"%>%")
